<style>
        body {
            background-color: #ffffff; /* branco */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #fff;
            width: 80%;
            margin: auto;
            margin-top: 20px;
            padding: 20px;
            border-radius: 10px;
            border: 3px solid #000; /* borda preta */
            box-shadow: 0 0 15px #555;
        }

        h1 {
            color: #d40000; /* vermelho forte */
            text-align: center;
            text-shadow: 1px 1px #000;
        }

        h2 {
            color: #000000; /* preto */
            border-left: 6px solid #d40000; /* faixa vermelha */
            padding-left: 10px;
        }

        li {
            margin-bottom: 5px;
        }

        .sessao {
            background-color: #f2f2f2; /* cinza claro */
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            border-left: 5px solid #000; /* faixa preta */
        }

        img {
            width: 200px;
            margin: 10px;
            border-radius: 10px;
            border: 3px solid #d40000; /* borda vermelha */
        }

        /* ESTILO DO INSTAGRAM */
        .instagram {
            text-align: center;
            margin-top: 30px;
            padding: 15px;
            background-color: #f2f2f2;
            border-radius: 8px;
            border-left: 5px solid #d40000;
        }

        .instagram a {
            text-decoration: none;
            font-size: 20px;
            color: #d40000;
            font-weight: bold;
        }

        .instagram a:hover {
            text-decoration: underline;
        }

    </style>